img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

span {
    display: inline-block;
    background: rgb(255, 179, 65);
    padding: 2%;
    margin: 0 2%;
    margin-bottom: 3%;
}

body {
    text-align: center;
}